@model VirtualLockerAPI.DTO_s.UsuarioDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
   
</head>
<body>

    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header text-center" style="background-color: #0D2622; color:white; font-size: 20px; padding: 10px;">
                    Regístrate
                </div>
                <div class="card-body">
                    <form asp-controller="Acceso" asp-action="Registrarse" method="post">
                        <div class="form-floating">
                            <input class="form-control mb-3" type="text" id="floatingName" placeholder="Nombre Completo" required asp-for="NombreCompleto" />
                            <label for="floatingName">Nombre Completo</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control mb-3" type="email" id="floatingCorreo" placeholder="Correo" required asp-for="Correo" />
                            <label for="floatingCorreo">Correo</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control mb-3" type="password" id="floatingContra" placeholder="Contraseña" required asp-for="Clave" />
                            <label for="floatingContra">Clave</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control mb-3" type="password" id="floatingConfir" placeholder="Confirmar Contraseña" required asp-for="ConfirmarClave" />
                            <label for="floatingConfir">Confirmar Clave</label>
                        </div>
                        
                        <div style="text-align:center; margin-top:1rem">
                            <button class="btn btn-primary" type="submit" style="background-color:#52BF04;border-color:#52BF04;">Regístrate</button>
                        </div>

                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        }
                        <div style="text-align:center; margin-top:1rem">
                            ¿Ya tienes una cuenta? <a asp-controller="Acceso" asp-action="Login">Iniciar Sesión</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
