@model VirtualLockerAPI.Models.Product;

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Editar Producto</h2>

        <form asp-controller="Item" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input asp-for="Id" type="hidden"/>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Nombre</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Marca</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Brand" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Categoría</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Category">
                        <option value="Other">Otros</option>
                        <option value="Phones">Phones</option>
                        <option value="Computers">Computadores</option>
                        <option value="Accessories">Accesorios</option>
                        <option value="Printers">Impresoras</option>
                        <option value="Cameras">Cámaras</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4" col-form-label>Precio</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4" col-form-label>Descripción</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Imagen</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ImageFileName" type="file" />
                    <span asp-validation-for="ImageFileName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <a asp-controller="Item" asp-action="GetList"></a>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" href="/Views/Item/GetList" role="button">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>



