<div style="background-color: transparent">
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4 mb-4 text-primary">@ViewData["Title"]</h1>


    <p class="text-success fs-5 mb-4">
        Use this page to detail your site's privacy policy.
    </p>
</div>
